/*헤더 디자인 변화 */
.menu.active {
    width:360px;
}

.menu.active li {
    width: 320px;
    height: 58px;
    padding: 9px 0 9px 20px;
    border-radius: 6px;
    /* background-color:#2841FA; */
    box-sizing: border-box;
}

.back-on {
    background-color:#2841FA;
}


.menu.active a {
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    color: white;
    letter-spacing: -0.3px;
    height: 58px;
    width: 100%;
}

.menu.active i {
    margin-right: 24px;
    vertical-align: middle;
}


h1.active {
    width:216px; 
    height:40px; 
    margin:0 0 144px 20px;
}

.icon-logo.active {
    width:216px; 
    height:40px; 
    background-image:url("./../img/patron-logo-big.png");
}
